
<databaseChangeLog xmlns="http://www.liquibase.org/xml/ns/dbchangelog" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                   xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.3.xsd">


    <changeSet author="pyc" id="app">
        <sqlFile dbms="postgresql"
                 encoding="utf8"
                 endDelimiter="\nGO"
                 path="data/app.sql"
                 relativeToChangelogFile="true"
                 splitStatements="true"
                 stripComments="true"/>

    </changeSet>

<!--
    <changeSet author="pyc" id="app-utilisateur">
        <sqlFile dbms="postgresql"
                 encoding="utf8"
                 endDelimiter="\nGO"
                 path="data/trace_public_utilisateur.sql"
                 relativeToChangelogFile="true"
                 splitStatements="true"
                 stripComments="true"/>

    </changeSet>

    <changeSet author="pyc" id="app-authority">
        <sqlFile dbms="postgresql"
                 encoding="utf8"
                 endDelimiter="\nGO"
                 path="data/trace_public_authority.sql"
                 relativeToChangelogFile="true"
                 splitStatements="true"
                 stripComments="true"/>

    </changeSet>

    <changeSet author="pyc" id="app-utilisateur_authority">
        <sqlFile dbms="postgresql"
                 encoding="utf8"
                 endDelimiter="\nGO"
                 path="data/trace_public_utilisateur_authority.sql"
                 relativeToChangelogFile="true"
                 splitStatements="true"
                 stripComments="true"/>

    </changeSet>

    <changeSet author="pyc" id="app-message">
        <sqlFile dbms="postgresql"
                 encoding="utf8"
                 endDelimiter="\nGO"
                 path="data/trace_public_message.sql"
                 relativeToChangelogFile="true"
                 splitStatements="true"
                 stripComments="true"/>
    </changeSet>

    <changeSet author="pyc" id="app-trace">
        <sqlFile dbms="postgresql"
                 encoding="utf8"
                 endDelimiter="\nGO"
                 path="data/trace_public_trace.sql"
                 relativeToChangelogFile="true"
                 splitStatements="true"
                 stripComments="true"/>
    </changeSet>

    <changeSet author="pyc" id="app-commentaire">
        <sqlFile dbms="postgresql"
                 encoding="utf8"
                 endDelimiter="\nGO"
                 path="data/trace_public_commentaire.sql"
                 relativeToChangelogFile="true"
                 splitStatements="true"
                 stripComments="true"/>
    </changeSet>

    <changeSet author="pyc" id="app-signalement">
        <sqlFile dbms="postgresql"
                 encoding="utf8"
                 endDelimiter="\nGO"
                 path="data/trace_public_signalement.sql"
                 relativeToChangelogFile="true"
                 splitStatements="true"
                 stripComments="true"/>
    </changeSet>

    <changeSet author="pyc" id="app-recommandation">
        <sqlFile dbms="postgresql"
                 encoding="utf8"
                 endDelimiter="\nGO"
                 path="data/trace_public_recommandation.sql"
                 relativeToChangelogFile="true"
                 splitStatements="true"
                 stripComments="true"/>
    </changeSet>

    <changeSet author="pyc" id="app-visite">
        <sqlFile dbms="postgresql"
                 encoding="utf8"
                 endDelimiter="\nGO"
                 path="data/trace_public_visite.sql"
                 relativeToChangelogFile="true"
                 splitStatements="true"
                 stripComments="true"/>
    </changeSet>
-->


</databaseChangeLog>

